<!DOCTYPE html>
<html class="{{ page.id }} {{ page.parent_id }}" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:css(app) /_assets/css/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:css({app,.tmp}) /_assets/css/main.css -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/_assets/css/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
        {% include header.html %}
        {% include nav.html %}
        <div class="content slice">
            {{ content }}
        </div>
        {% include footer.html %}
    </div>

    {% include scripts.html %}
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>
