---
layout: default
title: Blog Archive
page_id: blog
---

<p>I update this blog fairly infrequently -- I tend to participate in online forums in lieu of formally blogging. However, I do have an <a href="/feed.xml">RSS Feed</a>, if you're interested.</p>

{% assign first = true %}
{% assign date = nil %}
{% for post in site.posts %}
    {% assign currentDate = post.date | date: "%Y" %}
    {% if currentDate != date %}
        {% if first != true %}
            </ul>
        {% endif %}
        
        <h3>{{ currentDate }}</h3>
        <ul class="archive-year">
        
        {% assign date = currentDate %}
        {% assign first = false %}
    {% endif %}
    <li>
        <a href="{{ post.url | clean_url }}">{{ post.title }}</a>
    </li>
{% endfor %}
</ul>
