/**
 * variables.scss
 *
 * Config values
 */

$default-color: #999;
$default-color-light: #ddd;

$home-color: #5db9aa;
$blog-color: #789bef;
$projects-color: #a0cf5f;
$resume-color: #e3ab6a;
$contact-color: #6dd169;
$error-color: #ef7070;

$serif-fonts: Cambria, Georgia, serif;
$sans-serif-fonts: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;